:root {
    --color-primary: #42b883;
    --color-secondary: #35495e;
    --spacing-xs: 0.2rem;
    --spacing-sm: 0.55rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.2rem;


    --colors-white: #EFEFEF;
    --colors-gray-100: #DEDEDE;
    --colors-gray-200: #C4C4C4;
    --colors-gray-300: #B3B3B3;
    --colors-gray-400: #A3A3A3;
    --colors-gray-500: #8C8C8C;
    --colors-gray-600: #787878;
    --colors-gray-700: #525252;
    --colors-gray-800: #333333;
    --colors-gray-900: #2B2B2B;
    --colors-black: #1C1C1C;
    
    --colors-pink-500: #FF5964;
    --colors-green-500: #6BF178;
    --colors-blue-500: #35A7FF;

    --colors-cpp-primary: #659AD2;
    --colors-vulkan-primary: #AC162D;
    --colors-github-green: #2DBA4E;
    --colors-linkedin-blue: #0A66C2;

    --font-xs: 0.8rem;
    --font-sm: 1.1rem;
    --font-md: 1.25rem;
    --font-lg: 1.75rem;
    --font-xl: 1.85rem;

    --font-family-primary: Helvetica;
    --font-weight-normal: lighter;
    
    --background-primary: #1C1C1C;
    --background-secondary: #525252;

    --shadow-primary: #000000;

    --background-sidebar-primary: #333333;

    --background-code-primary: #292929;

    --link-primary: var(--colors-blue-500);

    --border-radius-sm: 5px;
    --border-radius-md: 8px;
    --border-radius-lg: 14px;
    --border-radius-xl: 20px;
    --border-radius-rounded: 10000px;
    
    --foreground-primary: #EFEFEF;
    --foreground-secondary: #B3B3B3;

    --line-spacing: 1.25;
    --letter-spacing: 1.08px;

    --card-primary: var(--colors-gray-900);

    /* Application Defaults */
    font-weight: var(--font-weight-normal);
    font-family: var(--font-family-primary);
    color: var(--foreground-primary);

    line-height: var(--line-spacing);
    letter-spacing: var(--letter-spacing);
}

* {
    margin: 0;
    padding: 0;
}